html{
    background-color: rgb(52, 58, 64);
    color: white;
    font-size: 14px;
    font-family: sans-serif;
}
.container {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 650px;
    height: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px #333;
    padding: 15px;
    overflow-y: auto;
}

.cvcontainer{
    color: rgb(35, 73, 124);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
}
a{
    color: rgb(35, 73, 124);
    font-weight: bold;
    font-style: italic;
}
